nav, footer {
    background-color: rgb(11, 100, 63);
}

/* cambio dimensiones footer */
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
  }
  
/* cambio color letra footer*/
.footer p {
    text-align: center;
    color: white;
  }


body {
    padding-top: 60px;
  }