{% extends 'base_layout.html' %} 

{% block content %}
<br>
<h1>Bienvenido {{user.username}}</h1>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum animi quis esse sint corporis deserunt consequuntur placeat, veritatis eos quam, vitae voluptatem nulla suscipit commodi. Reprehenderit sunt sequi corporis, laudantium, accusantium vero dolorum molestiae nesciunt eos assumenda obcaecati enim. Eveniet ut totam ipsum quaerat laborum ea nisi! Doloribus beatae numquam accusantium eligendi qui earum sunt nesciunt autem perferendis inventore fugiat quibusdam, tempora incidunt voluptate enim pariatur itaque eius soluta sit aut repudiandae odit reiciendis nihil. Maiores nobis officiis facere consequuntur. Vitae neque quisquam corporis laboriosam tempore magnam molestiae accusamus obcaecati ad. Tenetur mollitia quis illum eaque quod dolores corporis nisi.</p>

{% endblock %}
